@model Skaterer.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMessage = ViewBag.Message;
}

<div class="width-60" style="margin: 0 auto">

    <h1>Change Username</h1>
    <hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
            <span class="text-danger">@errorMessage</span>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a asp-action="Details" asp-route-id="@Model.Id" class="button button-danger width-100">Cancel</a>
            </div>
            <div class="col-sm-6">
                <input type="submit" value="Save Changes" class="button button-primary width-100" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
