@model Skaterer.Services.Auth.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center-site width-40">
        <i class="fa fa-sign-in site-icon" style="font-size:200px"></i>
    <br><br><br>

    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Identifier" placeholder="Username / E-Mail" class="form-control" />
            <span asp-validation-for="Identifier" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="Password" placeholder="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="button button-primary width-100" />
        </div>
        <p class="text-danger">@ViewBag.Error</p>
    </form>
    <p><a href="Register"> Konto erstellen </a></p>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
