/* Buttons */
.button {
    display: inline-block;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    transition: 0.2s;
}

.button:hover {
    text-decoration: none;
}

.button-primary {
    color: #fff;
    background-color: #0582CA;
    border: 1px solid #006494;
}

.button-primary:hover {
    color: #fff;
    background-color: #006494;
}

.button-secondary {
    color: #999;
    background-color: rgb(0 0 0 / 0.00);
    border: 1px solid #999;
}

.button-secondary:hover {
    color: #000;
    border-color: #000;
}

.button-danger {
    color: #fff;
    background-color: #e01e37;
    border: 1px solid #c71f37;
}

.button-danger:hover {
    color: #fff;
    background-color: #c71f37;
}

.invisiblebutton-container .button {
    visibility: hidden;
    transition: opacity 2s linear;
}

.invisiblebutton-container:hover {
    background-color: #f3f3f3;
}

.invisiblebutton-container:hover .button {
    visibility: visible;
}

/* Rating Star */

.star-checked {
    color: #ff0;
    text-shadow: 0px 0px 2px black;
}

.star-unchecked {
    color: #fff;
    text-shadow: 0px 0px 2px black;
}

.center-site {
    position: relative;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    align-items: center;
}

.center-site .form-group {
    text-align: left;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .width-80 {
        width: 90%;
    }

    .width-60 {
        width: 80%;
    }

    .width-40 {
        width: 70%;
    }
}

.site-icon {
    color: #0582CA;
    width: 100%;
    height: 100%;
    font-size: 100pt;
}

.site-icon-danger {
    color: #e01e37;
    width: 100%;
    height: 100%;
    font-size: 100pt;
}

.text-gray {
    color: #999;
}