@model Skaterer.Models.DeckProduct

@{
    ViewData["Title"] = "CreateDeck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="width-60" style="margin: 0 auto">
    <div class="row">
        <div class="col-sm-2">
            <a class="button button-secondary width-100" asp-action="IndexAdmin"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
        </div>
        <div class="col-sm-10">
            <h1>New Deck</h1>
        </div>
    </div>

    <hr />

    <form asp-action="CreateDeck">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" placeholder="Name..." class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" placeholder="Description..." class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" placeholder="79.9" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Width" class="control-label"></label>
            <input asp-for="Width" placeholder="8.4" class="form-control" />
            <span asp-validation-for="Width" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Length" class="control-label"></label>
            <input asp-for="Length" placeholder="31.5" class="form-control" />
            <span asp-validation-for="Length" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Wheelbase" class="control-label"></label>
            <input asp-for="Wheelbase" placeholder="7.2" class="form-control" />
            <span asp-validation-for="Wheelbase" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nose" class="control-label"></label>
            <input asp-for="Nose" placeholder="6.5" class="form-control" />
            <span asp-validation-for="Nose" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tail" class="control-label"></label>
            <input asp-for="Tail" placeholder="5.5" class="form-control" />
            <span asp-validation-for="Tail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImagePath" class="control-label">Image Path</label>
            <input asp-for="ImagePath" placeholder="https://example.com/img/image.png" class="form-control" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="button button-primary width-100" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
