@using Skaterer.Models

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col col-lg-5" style="text-align:left;"><h2>Alessio Venturini</h2></div>
        <div class="col col-lg-2"></div>
        <div class="col col-lg-5" style="text-align:left;"><h2>Ronnie Hartmann</h2></div>
    </div>

    <div class="row">
        <div class="col col-lg-5"><img src="https://noseryoung.ch/wp-content/uploads/2020/09/vena-1.jpg" class="width-100" alt="Alessio"></div>
        <div class="col col-lg-2"></div>
        <div class="col col-lg-5"><img src="https://ronniehartmann.de/wp-content/uploads/2022/06/portrait.jpg" class="width-100" alt="Ronnie"></div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col col-lg-5" style="text-align:left;">
            <p>
                Als Lernender im zweiten Lehrjahr konnte ich bereits einige Erfahrung in den Programmiersprache Java und C# sammeln.
                Mein Fokus liegt dabei auf Web-Applikationen mit ASP.Net Core. Bereits im Basislehrjahr konnte ich viel im Team arbeiten
                und mich stark weiterentwickeln. In der Noser Engineering sammle ich zudem viel Projekterfahrung und wachse nicht nur in
                Entwicklungsaufgaben, sondern auch in der Teamarbeit.
            </p>
        </div>
        <div class="col col-lg-2"></div>
        <div class="col col-lg-5" style="text-align:left;">
            <p>
                Als Lernender im zweiten Lehrjahr konnte ich schon einige Erfahrung in C# und Java sammeln. Durch das Basislehrjahr
                bei Noser Young konnte ich zudem viel über HTML und CSS lernen. Ich arbeite gerne in Team-Projekten und durfte dabei
                einige Erfahrungen mit ASP.NET Core sammeln. Meine Kompetenzen liegen vor allem in der Web Entwicklung.
            </p>
        </div>
    </div>
</div>